# mInDel configuration file
threads=10

[s1]
phred_score=13
length=20

[s2]
#For illu.
insert_size=500
kmer=45
#For 454
identity=95
overlap=40
contig_len=300

[s3]
window_size=300
step_size=100

[s4]
size_min=18
size_max=22
size_opt=20
product_range=180-500
tm_min=55
tm_max=65
tm_opt=60

[s5]
mismatch=3
product_max=500
product_min=100
